*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
 body{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background-color: black;
    color: whitesmoke;
    height: 100vh;
    margin-top: 20px;
 }


 select{
    width: 200px;
    height: 40px;
    font-size: 1.2rem;
    background-color: transparent;
    color: rgb(209, 222, 235);
    margin: 30px;
    border-top: 1px solid;
    border-right: 1px solid;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
 }
 select:hover{
    background-color: white;
    color: black;
 }
 p{
    font-size: 1.3rem;
    height: 50px;
    padding: 10px 10px;
    margin: 40px;
    border: 1px solid   rgb(215, 224, 233);
    border-radius: 10px;
    width: 100%;
    position: relative;
    left: -20px;
    align-items: center;
    color: rgb(215, 224, 233);
    visibility: ;
 }
 .alert{
    font-size: 1.5rem;
    margin:10px 60px;
    padding: 5 14px;
    border: navy;
    color: rgb(253, 104, 104);
 }
 button{
    position: relative;
    font-size: 2rem;
    padding: 5px 40px;
    background-color: white;
    left: 30px;
 }